@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background: #f49d37;

  padding-left: 23vw;
  padding-top: 5px;
}

.container {
  background: #d7d6d8;

  position: relative;
  min-height: 100vh;

  /* max-width: 1000px; */
  max-width: 100vw;

  width: 100%;
  margin: 0 auto;
  padding: 40px 300px;
}

.container .search-box {
  color: #140f2d;

  position: relative;
  height: 42px;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;

  /*  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); */
  border: none;
}

.search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: white;
  padding: 0 15px 0 45px;

  color: #140f2d;
}

.search-box i {
  position: absolute;
  z-index: 2;
  color: #140f2d;
  top: 50%;
  left: 15px;
  font-size: 20px;
  transform: translateY(-50%);
}

.search-form-input {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 75%;
  height: 46px;
  padding: 5px 20px 5px 50px;
  border: none;

  border-radius: 23px 0 0 23px;

  background-image: url(../img/camera.png);
  background-position: 15px center;
  background-size: 29px;
  background-repeat: no-repeat;
  background-color: #fff;

  /*  color: #3d3935; */
  color: lightgray;

  font-size: 1.25rem;
  outline: none;

  -webkit-box-shadow: 0px 2px 1px lightgray;
  -moz-box-shadow: 0px 2px 1px lightgray;
  box-shadow: 0px 2px 1px lightgray;
}

::placeholder {
  color: lightgray;
  opacity: 1;

  font-size: 0.85em;
}

:-ms-input-placeholder {
  color: lightgray;
}

::-ms-input-placeholder {
  color: lightgray;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.dropdown-button {
  list-style: none;
  position: relative;
  width: 4rem;
  height: 2.6rem;
  padding: 15px;
  border-radius: 0 23px 23px 0;

  background-color: #fff;
  color: transparent;
  outline: none;
  cursor: pointer;

  background: #f49d37;

  margin-left: 18rem;
}

.dropdown {
  position: relative;
  width: 15%;
  height: 46px;
}

.dropdown::before {
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 999;
  width: 1px;
  height: 36px;
  background-color: #ccc;
  content: "";
}

.image {
  display: none;
}

.container .images .image-box {
  position: relative;

  /*
  height: 340px; */
  width: 17vw;

  /*
  border-radius: 6px;
  */

  overflow: hidden;
}

.images {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images .image-box {
  margin: 8px;
}

.images .image-box img {
  /* height: 100%; */
  width: 100%;

  /*
  border-radius: 6px;
  */

  transition: transform 0.2s linear;
}

.image-box:hover img {
  transform: scale(1.01);
}

.image-box span {
  bottom: 10px;
  left: 10px;

  padding-top: 2.8px;
  padding-bottom: 2.8px;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  height: 1.2rem;

  font-size: 0.47rem;
  font-weight: 100;
  text-transform: capitalize;

  color: gray;
  background: white;

  border-radius: 2rem;

  text-align: center;
  border: 1px solid lightgray;
}

.image-box h2 {
  /* position: absolute; */
  bottom: 10px;
  left: 10px;

  padding-top: 2.8px;
  height: 1.2rem;

  font-size: 0.5rem;
  font-weight: 100;
  text-transform: capitalize;

  color: gray;
  background: white;

  border-radius: 2rem;
  width: 2rem;
  text-align: center;
  border: 1px solid lightgray;
}

footer {
  display: none;
  background: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #140f2d;
}

/* iPhone SE */
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .logo {
    width: 12rem;
  }

  .search-box {
    width: 18rem;
  }

  .search-form-input {
    right: 18rem;
  }

  .dropdown-button {
    right: 18rem;
  }

  .images {
    display: none;
  }

  .image {
    display: block;
    margin-left: -18.25rem;
  }

  .images-box {
  }

  .image-mobile {
    width: 360px;
    padding-top: 1.5rem;
  }

  span {
    bottom: 10px;
    left: 10px;

    padding-top: 2.8px;
    padding-bottom: 2.8px;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    height: 1.2rem;

    font-size: 0.47rem;
    font-weight: 100;
    text-transform: capitalize;

    color: gray;
    background: white;

    border-radius: 2rem;

    text-align: center;
    border: 1px solid lightgray;
  }
}

@media (min-width: 1201px) {
  #images {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 1200px) {
  #images {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 1000px) {
  #images {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  /*
  #images {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  } */

  .logo {
    width: 12rem;
  }

  .search-box {
    width: 18rem;
  }

  .search-form-input {
    right: 18rem;
  }

  .dropdown-button {
    right: 18rem;
  }

  .images {
    display: none;
  }

  .image {
    display: block;
    margin-left: -18.25rem;
  }

  .images-box {
  }

  .image-mobile {
    width: 360px;
    padding-top: 1.5rem;
  }

  span {
    bottom: 10px;
    left: 10px;

    padding-top: 2.8px;
    padding-bottom: 2.8px;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    height: 1.2rem;

    font-size: 0.47rem;
    font-weight: 100;
    text-transform: capitalize;

    color: gray;
    background: white;

    border-radius: 2rem;

    text-align: center;
    border: 1px solid lightgray;
  }
}
@media (max-width: 400px) {
  /*
  #images {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  } */

  .logo {
    width: 12rem;
  }

  .search-box {
    width: 18rem;
  }

  .search-form-input {
    right: 18rem;
  }

  .dropdown-button {
    right: 18rem;
  }

  .images {
    display: none;
  }

  .image {
    display: block;
    margin-left: -18.25rem;
  }

  .images-box {
  }

  .image-mobile {
    width: 360px;
    padding-top: 1.5rem;
  }

  span {
    bottom: 10px;
    left: 10px;

    padding-top: 2.8px;
    padding-bottom: 2.8px;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    height: 1.2rem;

    font-size: 0.47rem;
    font-weight: 100;
    text-transform: capitalize;

    color: gray;
    background: white;

    border-radius: 2rem;

    text-align: center;
    border: 1px solid lightgray;
  }
}
