@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Source Sans 3 Regular

font-family: source-sans-3, sans-serif;

font-weight: 400;

font-style: normal;


Source Sans 3 Bold Italic

font-family: source-sans-3, sans-serif;

font-weight: 700;

font-style: italic;


Source Sans 3 Bold

font-family: source-sans-3, sans-serif;

font-weight: 700;

font-style: normal;


Source Sans 3 Italic

font-family: source-sans-3, sans-serif;

font-weight: 400;

font-style: italic;
*/

/*
font-family: 'Rammetto One', cursive;
*/

header {
  background: #f49d37;
  padding-left: 20vw;
  padding-top: 5px;
}

h1 {
  color: #140f2d;
  text-align: center;

  display: none;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

#photos img {
  /* Just in case there are inline attributes */

  /* width: 100% !important; */
  width: 20vw;

  /* height: auto !important; */
  height: auto;

  margin-left: 1rem;
  margin-right: 1rem;
}

.img {
  /* margin-bottom: 1rem; */
}

.h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #140f2d;
}

@media (min-width: 1201px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 1200px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 1000px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  #photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
