@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #fdc75b;
  color: #555555;
}

.wrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.select_wrap {
  width: 225px;
  margin: 15px auto;
  position: relative;
  user-select: none;
}

.select_wrap .default_option {
  background: #fff;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.select_wrap .default_option li {
  padding: 10px 20px;
}

.select_wrap .default_option:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 18px;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #555555 #555555;
  transform: rotate(-45deg);
}

.select_wrap .select_ul {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  display: none;
}

.select_wrap .select_ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.select_wrap .select_ul li:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.select_wrap .select_ul li:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.select_wrap .select_ul li:hover {
  background: #fff4dd;
}

.select_wrap .option {
  display: flex;
  align-items: center;
}

.select_wrap .option .icon {
  background: url("/img/logo.png") no-repeat 0 0;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.select_wrap .option.pizza .icon {
  background-position: 0 0;
}

.select_wrap .option.burger .icon {
  background-position: 0 -35px;
}

.select_wrap .option.ice .icon {
  background-position: 0 -72px;
}

.select_wrap .option.fries .icon {
  background-position: 0 -111px;
  width: 25px;
}

.select_wrap.active .select_ul {
  display: block;
}

.select_wrap.active .default_option:before {
  top: 25px;
  transform: rotate(-225deg);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Source Sans 3 Regular

font-family: source-sans-3, sans-serif;

font-weight: 400;

font-style: normal;


Source Sans 3 Bold Italic

font-family: source-sans-3, sans-serif;

font-weight: 700;

font-style: italic;


Source Sans 3 Bold

font-family: source-sans-3, sans-serif;

font-weight: 700;

font-style: normal;


Source Sans 3 Italic

font-family: source-sans-3, sans-serif;

font-weight: 400;

font-style: italic;
*/

/*
font-family: 'Rammetto One', cursive;
*/

header {
  background: #f49d37;
  padding-left: 20vw;
  padding-top: 5px;
}

h1 {
  color: #140f2d;
  text-align: center;

  display: none;
}

.container {
  background: #d7d6d8;

  position: relative;
  /* min-height: 100vh; */

  /* max-width: 1000px; */
  max-width: 100vw;

  width: 100%;
  margin: 0 auto;
  padding: 40px 300px;
}

/*
.container .search-box {
  color: #140f2d;

  position: relative;
  height: 2.5rem;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 0.3rem;
}
*/

.search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: white;
  padding: 0 15px 0 45px;

  color: #140f2d;

  border-radius: 2rem;
}

.search-box i {
  position: absolute;
  z-index: 2;
  color: #140f2d;
  top: 50%;
  left: 15px;
  font-size: 20px;
  transform: translateY(-50%);
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

:-ms-input-placeholder {
  color: lightgray;
}

::-ms-input-placeholder {
  color: lightgray;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;

  color: #140f2d;

  height: 2.5rem;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 0.3rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

#photos img {
  /* Just in case there are inline attributes */

  /* width: 100% !important; */
  width: 20vw;

  /* height: auto !important; */
  height: auto;

  margin-left: 1rem;
  margin-right: 1rem;
}

.img {
  /* margin-bottom: 1rem; */
}

.h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #140f2d;
}

@media (min-width: 1201px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 1200px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 1000px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  #photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
